.btn_dark{
    padding: 14px 48px;
    font-size: 16px;
    line-height: 28px;
    border-radius: 40px;
    background-color: $dark-blue-color;
    border: 1px solid transparent;
    transition: .3s;
    &:hover{
        background-color: transparent;
        border-color: $dark-blue-color;
        color: $dark-blue-color;
    }
}
.btn_yellow{
    padding: 14px 48px;
    font-size: 16px;
    line-height: 28px;
    border-radius: 40px;
    background-color: $yellow-color;
    border: 1px solid transparent;
    transition: .3s;
    &:hover{
        background-color: transparent;
        border-color: $yellow-color;
        color: $yellow-color;
    }
}
.btn_light_black{
    padding: 14px 48px;
    font-size: 16px;
    line-height: 28px;
    border-radius: 40px;
    background-color: #535460;
    border: 1px solid transparent;
    transition: .3s;
    &:hover{
        background-color: transparent;
        border-color: #535460;
        color: #535460;
    }
}
.btn_light_yellow{
    padding: 14px 48px;
    font-size: 16px;
    line-height: 28px;
    border-radius: 40px;
    background-color: #FDE4A6;
    border: 1px solid transparent;
    transition: .3s;
    &:hover{
        background-color: transparent;
        border-color: #FDE4A6;
        color: #FDE4A6;
    }
}