$royal-blue-color: #2405F2;
$dark-blue-color: #282938;
$grey-color: #F4F6FC;
$yellow-color: #FCD980;
$tint-blue-color: #1C1E53;
$accent-color: #EEF4FA;
$yellow-opacity-color: #FCD9801A;
$white-color: #ffffff;